<form class= 'create_form' action="/surveys" method="POST">
  <h2>SurveyName: <input type="text" name="survey"></h2>
  <ul class="question_block">
    <li>Question: <input type="text" name="question"></li>
      <ul class="choice_block">
        <li>Choice: <input type="text" name="choice"></li>
        <li>Choice: <input type="text" name="choice"></li>
        <li>Choice: <input type="text" name="choice"></li>
      </ul>
  </ul>
  <input class="survey_submit" type="submit" value="Submit">
</form>