
<h2>Create a Survey</h2>

<form class= 'create_survey' action="/surveys/create" method="POST">
  <p>SurveyName: <input type="text" name="survey"></p>
  <input class="submit" type="submit" value="Submit">
</form>