<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="first_name">First Name</label>
    <input type="text" name="user[name]" placeholder="e.g., Joe" >
    <br>

    <label class="label" for="last_name">Last Name</label>
    <input type="text" name="user[name]" placeholder="e.g., Brown" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g., me@example.com" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>