<h2>Surveys You Haven't Taken Yet</h2>

<ul>
  <% @not_taken_surveys.each do |item| %>
    <li><a href="/surveys/<%= item.id %>"><%= item.title %></a> | <%= item.created_at.strftime('%b %d %G') %></li>
  <% end %>
</ul>
